#!/usr/bin/python
# -*- coding: utf-8 -*-

DEBUG = False

ALLOWED_HOSTS = ['{{ domain }}', 'localhost']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ database_name }}',
        'USER': '{{ database_user }}',
        'PASSWORD': '{{ database_password }}',
        'HOST': '{{ database_host }}',
        'PORT': '{{ database_port|default('5432') }}',
    }
}
